<ion-content [fullscreen]="true">
  <ion-header class="ion-text-center">
    <ion-toolbar>
      <ion-title>CAMARA</ion-title>
      <ion-buttons slot="start">
        <ion-button (click)="back()">
          <ion-icon size="large" name="exit-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="backLogin()" size="small" fill="clear">Cerrar sesión</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let photo of photos">
    <div class="photo-container">
      <img src="{{ photo.image }}" />
      <div class="date">{{ photo.captureDate | date: 'dd/MM/yyyy' }}</div>
    </div>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button (click)="takePicture()">
          <ion-icon class="tab" size="large" name="camera-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>